:root {
  --background-color: rgb(231, 238, 231);
  --point-background-color: #739e82;
  --line-color: #f3ffb6;
  --orange-color: #d38b5d;
  --dark-color: rgb(31, 48, 22);
}

@import url('https://fonts.googleapis.com/css2?family=Nova+Mono&display=swap');

body {
  height: 100vh;
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--background-color);
  font-family: 'Nova Mono', monospace;
}

header {
  height: 20%;
  position: sticky;
  top: 0px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--point-background-color);
}

main {
  height: 55%;
  align-items: center;
}

button {
  border-style: none;
}

.main__section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border: 1px solid var(--orange-color);
  border-radius: 25px;
}

.main__body {
  overflow: scroll;
}
.main__input {
  width: 100%;
  text-align: center;
}

.button__add {
  margin: 0.5rem;
  min-height: 2rem;
  min-width: 2rem;
  color: var(--orange-color);
  border: 1px solid var(--orange-color);
  border-radius: 50%;
}

footer {
  height: 10%;
  position: sticky;
  bottom: 5px;
  border-radius: 5px;
  text-align: center;
  background-color: var(--point-background-color);
}
